<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="shortcut icon" href="img/logo.png">
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
	<script src="https://kit.fontawesome.com/3c28765122.js" crossorigin="anonymous"></script>
	<title>CUENTA DE nombre</title>
</head>
<body class="animated fadeIn">
	<nav class="navbar  navbar-inverse bg-inverse navbar-toggleable-sm">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="home.html">
			<img src="img/logo.png" height="40" class="d-inline-block align-top" alt="">
		</a>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<ul class="navbar-nav mr-auto text-center">
				<li class="nav-item dropdown">
		        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          	<i class="fas fa-user"></i> Perfil
		        	</a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			            <a class="dropdown-item" href="#">Ver Perfil</a>
			            <a class="dropdown-item text-danger" href="login.html"><i class="fas fa-power-off"></i> Cerrar Sesi贸n</a>
			        </div>
			    </li>
		     	<li class="nav-item dropdown">
		        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          	<i class="fas fa-money-check"></i> Cuenta
		        	</a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			            <a class="dropdown-item" href="registrarCuenta.html">Registrar Cuenta</a>
			            <a class="dropdown-item" href="listarCuentas.html">Listar Cuentas</a>
			        </div>
			    </li>
			    <li class="nav-item dropdown">
		        	<a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          	<i class="fas fa-piggy-bank"></i> Presupuesto
		        	</a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			            <a class="dropdown-item" href="#">Crear Presupuesto</a>
			            <a class="dropdown-item" href="#">Listar Presupuestos</a>
			        </div>
			    </li>
			    <li class="nav-item dropdown">
		        	<a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          	<i class="fas fa-exchange-alt"></i> Transacci贸n
		        	</a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			            <a class="dropdown-item" href="#">Generar Transacci贸n</a>
			            <a class="dropdown-item" href="#">Listar Transacciones</a>
			        </div>
			    </li>
		    </ul>
		</div>
	</nav>
	<!-- d-flex: nos sirve para convertir un conteneedor en flexbox. -->
	<div class="container-fluid">
		<div class="row fondoper">
			<div class="login col-md-5 offset-md-7 d-flex align-items-center justify-content-center">
				<div class="row text-white text-center">
					<div class="col-12 d-flex justify-content-center">
						<h1 class="display-4">Informaci贸n de usuario</h1>
					</div>
					<div class="col-12 d-flex justify-content-center">
						<img src="img/ejemplo.jpeg" id="fotoperfil">
					</div>
					<div class="col-12 d-flex justify-content-center">
						<ul>
							<li><br></li>
							<li><p class="h4"id="nombreUsuario">Nombre de usuario:</p></li>
							<li><p class="h4"id="nombreCompleto">Nombre completo:</p></li>
							<li><p class="h4">Fecha de Nacimiento:<p class="h4"id="fechaNac"></p></p></li>
							<li><p class="h4">Correo Electronico:<p class="h4"id="correo"></p></p></li>
							<li><p class="h4">Numero de cuentas activas:<p class="h4"id="numCuentas"></p></p></li>
							<li><p class="h4">cantidad de presupuestos activos:<p class="h4"id="numPresupuestos"></p></p></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="
	https://cdnjs.cloudflare.com/ajax/libs/graingert-wow/1.2.2/wow.min.js"></script>
</body>
</html>